<form action="https://formspree.io/f/xrgoaead" method="post">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Messages</label>
        <textarea name="messages" class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label for="formGroupExampleInput">Details</label>
        <input name="name" type="text" class="form-control" id="formGroupExampleInput" placeholder="Name">
      </div>
      <div class="form-group">
        <input name="_replyto" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <input type="phone" class="form-control" id="formGroupExampleInput" placeholder="Phone Number">
      </div>
      <small id="passwordHelpBlock" class="form-text text-muted mb-3">
        By submitting, I agree to the Terms of Use and Privacy Policy of <strong>New Life Estates</strong> / you including the collection, use, disclosure, processing, storage and handling of my personal information; and direct marketing communications from you and / or your partners.
      </small>
      <button type="submit" class="btn btn-primary btn-block mb-2">Submit</button>
    </div>
  </div>
</form>