<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12 offset-lg-1 col-lg-10">
        <div class="jumbotron text-center">
          <h1 class="display-4">Leave The City One Life Live It.</h1>
          <h1 class="display-4 font-weight-bold">WHY RENT WHEN YOU CAN BUY PAY MONTHLY PACKAGES</h1>
          <h1 class="display-4 font-weight-bold">€999 Deposit €350 Per Month No Credit Checks </h1>
          <h1 class="display-4">HOMES FOR SALE</h1>
        </div>
      </div>
    </div>
  </div>
</div>