<div class="container-fluid">
  <div class="container">
    <div class="row my-3">
      <div class="col-12 col-md-6 col-lg-5 offset-lg-1">
        <div class="card mb-3">
          <img src="https://source.unsplash.com/GRnU60VzBnE" class="card-img-top" alt="...">
          <div class="card-img-overlay--m">
            <div class="d-flex justify-content-between align-items-center">
              <h5>As Little As €400 Per Month</h5>
            </div>
          </div>
        </div>
        <h5>
          Approximate Monthly Cost Breakdown
        </h5>
        <p>
          Food 100 Shopping (Euro) <br>
          Petrol 50 (Euro) <br>
          Electric 50 (Euro) <br>
          Internet 20 (Euro) <br>
          Entertainment 100 (Euro) <br>
          Miscellaneous 80 (Euro) <br>
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-5">
        <div class="card mb-3">
          <img src="https://source.unsplash.com/GRnU60VzBnE" class="card-img-top" alt="...">
          <div class="card-img-overlay--m">
            <div class="d-flex justify-content-between align-items-center">
              <h5>Home Grown You</h5>
            </div>
          </div>
        </div>
        <h5>
          Black Gold
        </h5>
        <p>
          This is what the locals call the soil here and i agree, with home-grown tomatoes as big as grapefruit’s, and a mass selection of pepper’s double the size of the produce in the rest of Europe, the possibilities are endless here with the summer months lasting 7 months in total you can literally live off the land in the comfort of your own hobbit home.
        </p>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-12 col-md-6 col-lg-4 offset-lg-1 mb-3">
        <div class="d-flex flex-column justify-content-center align-items-start h-100">
          <p>
            Most of our home buyers are planting and growing their own organic produce at their homes and preserving over winter, so shopping bills can become a thing of the past and you and your family get to eat and live a healthier organic non GMO lifestyle.
          </p>
          <button type="button" class="btn btn-secondary btn-lg">
            Contact Us
          </button>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-5 offset-lg-1 mb-3">
        <div class="card">
          <img src="https://source.unsplash.com/GRnU60VzBnE" class="card-img-top" alt="...">
          <div class="card-img-overlay--m">
            <div class="d-flex justify-content-between align-items-center">
              <h5>Living The Dream As A Digital Nomad Ann,s Story</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>