<div class="container-fluid mb-3 shadow-sm">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 offset-lg-1 col-lg-2">
        <img src="https://static.wixstatic.com/media/f33bc2_a40b65d1f2724e25a303a9edd9ef94c3~mv2.png/v1/fill/w_220,h_221,al_c,q_85,usm_0.66_1.00_0.01/new-life-logo.webp" class="img-fluid">
      </div>
      <div class="col-12 col-md-6 offset-lg-5 col-lg-3">
        <img src="https://static.wixstatic.com/media/f33bc2_01cf7988185a461790f7c2697d8c25f4~mv2.png/v1/fill/w_383,h_188,al_c,q_85,usm_0.66_1.00_0.01/imaggggeee_PNG.webp" class="img-fluid">
      </div>
    </div>
  </div>
</div>